/* assign styling to elements using a mixin */
@mixin body-margins {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    @include body-margins;
}

@mixin div-margins {
    margin-left: 15px;
    margin-right: 15px;
}

div {
    @include div-margins;
}